[submodule "thirdparties/braincloud-cpp"]
	path = thirdparties/braincloud-cpp
	url = https://github.com/getbraincloud/braincloud-cpp.git
	branch = BCLOUD-3058
[submodule "thirdparties/SDL"]
	path = thirdparties/SDL
	url = https://github.com/SDL-mirror/SDL.git
[submodule "roomserver/server/brainclouds2s-cpp"]
	path = roomserver/server/brainclouds2s-cpp
	url = https://github.com/getbraincloud/brainclouds2s-cpp.git
